<!-- Detta är en Razor-sida, en sida som använder C#-kod i HTML-koden. -->
@{
    ViewData["Title"] = "Sekretesspolicy";
}

<!-- ViewData är en dictionary som lagrar data som ska användas på sidan. Här sätts titeln på sidan till "Sekretesspolicy". -->
<h1>@ViewData["Title"]</h1>
<!-- Här skrivs titeln på sidan ut. -->
<p>Använd den här sidan för att beskriva din webbplats sekretesspolicy.</p>
<!-- P-tagen innehåller en vanlig text som förklarar vad sidan handlar om. -->